@model GMTK_Capstone.Models.Renter

@{
    ViewData["Title"] = "HasApplied";
    Layout = "~/Views/Shared/_RenterLayout.cshtml";
}

<div>
    <h4>@Model.FirstName, Success!</h4>
    <hr />
    <div class="row">
        <h4>Your application has been submitted and the landlord will be reaching out to you shortly! <br /> <strong>Thank you!</strong></h4>
    </div>
        
<div style="padding-top:22rem;">
    <a asp-action="MarketListings">Back to List</a> |
    <a asp-action="Index">Home</a>
</div>
