body {
    align-content:center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.header-image {
    background: url(../images/mansionBG.jpg);
    height: auto;
    max-width: 100%;
    border-radius: 0 0 15px 15px;
}

.header-fill {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}