@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-12" style="background-color:#f7f6e7;">
            <h1>Give Me The Keys</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <hr />
            <p>Looking to list your house on the market?</p>
            <p>Congratulations!</p>
            <p>Join our amazing community of landlords today and let us make your dreams come true!</p>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            <hr />
            <p>Looking to rent or buy your next home?</p>
            <p>Look no further!</p>
            <p>Sign up today and become part of our growing family!</p>
        </div>
    </div>
</div>

