@{ 
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<div class="text-center container-fluid  header-image header-fill">
    <div class="row">
        <div class="col-md-12 white-text">
            <h1>Give Me the Keys</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 white-text">
            <hr />
            <p>Looking to list your house on the market?</p>
            <p>Join our amazing community of landlords today and let us make your dreams come true!</p>
        </div>
        <div class="col-md-2">
            
        </div>
        <div class="col-md-5 white-text">
            <hr />
            <p>Looking to rent or buy your next home?</p>
            <p>Look no further!</p>
            <p>Sign up today and become part of our growing family!</p>
        </div>
    </div>
</div>